@import 'authenticate';
@import 'header';
@import 'common';
@import 'card';
@import 'task';




html {
  font-family: Avenir;
  min-width: 414px;
  position: relative;
}

a {
  text-decoration: none;
  color: #000;
}