input,select{
  width: 362px;
  height: 30px;
  background: #F4F4F4;
  border-radius: 10px;
  margin-bottom: 20px;
}

.textarea {
  width: 362px;
  background: #F4F4F4;
  height: 75px;
  border-radius: 10px;
}

.btn-primary {
  width: 100%;
  top: 889px;
  background: #F8BD1C;
  position: absolute;
}

.btn-secondary {
  width: 362px;
  background: #A4AD2C;
}