.header {
  height: 58px;
  border-bottom: solid 1px #000;
  min-width: 414px;
  width: 100%;

  &_contents {
    display: flex;
    justify-content: space-between;

    &_title {
      width: 56px;
      height: 25px;
      top: 17px;
      left: 30px;
    }
    
    &_menu {
      margin-right: 30px;
    }


    

  }


}